{% extends 'base_test.html' %}
  {% block content %}
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>Audit Log</h2>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>User</th>
              <th>Date Changed</th>
              <th>Collaboration ID</th>
              <th>Stage</th>
              <th>Field</th>
              <th>Previous</th>
              <th>Current</th>
            </tr>
          </thead>
          <tbody>
            {% for audit in audits %}
            {% for change in audit.change_list %}
            <tr>
              <td>{{ audit.username }}</td>
              <td>{{ audit.date_change.strftime('%Y-%m-%d %I:%M:%S') }}</td>
              <td>{{ audit.collab_ref }}</td>
              <td>{{ change.stage }}</td>
              <td>{{ change.field }}</td>
              <td>{{ change.previous }}</td>
              <td>{{ change.current}}</td>
            </tr>
            {% endfor %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endblock %}
