{# trigger htmldjango in vim #}
<!DOCTYPE html>
<html lang="en">
  <head>
      {% block jquery %}
          {% assets "js/jquery-3.2.1.min.js", "js/base.js" %}
          <script type="text/javascript" src="{{ ASSET_URL }}"></script>
          {% endassets %}
      {% endblock jquery %}
      <!-- Bootstrap  -->
      <link rel="stylesheet"
        href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
      <link rel="stylesheet"
        href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js">
      </script>
      {% assets "css/base.css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
      {% endassets %}
      {% block extra_css %}{% endblock extra_css %}

      <title>
        {% block page_title %}
          NeuroPace Research
        {% endblock page_title %}
      </title>
  </head>

  <body>
    <div class='container-fluid'>
      <div class='row topWrapper'>
        <div class='col-md-1'>
          {% block logo %}
            {% assets "icons/NP_logo.png" %}
              <img height="80" width="80" src="{{ ASSET_URL }}"/>
            {% endassets %}
          {% endblock %}
        </div> <div class='col-md-5'>
          {% block topContent %}
            <h2> NeuroPace Research </h2>
            <h3> {% block text_title %}{% endblock %}</h3>
          {% endblock %}
        </div>
        <div class='col-md-6'>
          <div id="helpLink" class='text-right'>
            <a href="#"
              onclick="$('#helpText').toggle();$('#helpLink').toggle();">Help?</a>
          </div> <!-- helpLink -->
          <div id='helpText'>
            <p class="close"><a href="#"
              onclick="$('#helpLink').toggle(); $('#helpText').toggle();">close</a>
            </p>
            {% block help %} No help available {% endblock %}
          </div> <!-- helpText -->
          <div class='col-md-offset-7' id='user_div'>
            {% block user_select %}
            {% endblock user_select %}
          </div>
        </div><!-- col -->
      </div> <!-- row -->
      <!-- Sidebar for navigation -->
      <div class='row'>
        <div class='col-md-2' id="sidebar">
          {% block sidebar %}
            No sidebar yet?
          {% endblock %}
        </div>
        <div class='col-md-10' id="container-fluid">
          <div id="content">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
              {% for message in messages %}
                <li>{{message}}</li>
              {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
          </div>
        </div>
      </div> <!--row -->
      {% block extra_js %} {% endblock %}
    </div> <!-- container -->
  </body>
</html>
