<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <!-- jQuery & TableSorter Plugin -->
      <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
      </script>
      <script type="text/javascript" src=static/js/jquery.tablesorter.min.js></script>
      <script src="static/js/jquery.tablesorter.widgets.js"></script>
      <script src="static/js/index.js" charset="utf-8"></script>
      <!--  -->
    <!--Bootsrap JavaScript CDN  -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--   -->
    <!--Bootstrap CSS CDN  -->
    {% block extra_css1 %}
      <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous">
    {% endblock extra_css1 %}
    <!--  -->
    {% block extra_css2 %}
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            rel="stylesheet"
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
            crossorigin="anonymous">
    {% endblock extra_css2 %}
    {% block extra_css3 %}
      <link rel="stylesheet" href="static/css/theme.bootstrap_3.css">
      
    {% endblock extra_css3 %}
    {% assets "css/base.css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
    {% assets "css/side_bar.css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
    {% assets "css/workflow.css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
    <title>
      {% block page_title %}
        NeuroPace Research
      {% endblock page_title %}
    </title>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% block logo %}
            {% assets "icons/NP_logo.png" %}
              <img class="navbar-brand" src="{{ ASSET_URL }}"/>
            {% endassets %}
          {% endblock %}
          {% block topContent %}
            <a class="navbar-brand" href="/">NeuroPace</a>
            <h3> {% block text_title %}{% endblock %}</h3>
          {% endblock %}

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar">
            <form class="navbar-form navbar-left">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
                <button type="submit" class="btn btn-default">Submit</button>
              </div>
            </form>
          </ul>
          <h5 class="navbar-text">Current User: {{ current_user.username }}</h5>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/new/init/none">Start Collaboration</a></li>
            <li class="active"><a href="/audit">Audit Log<span class="sr-only">(current)</span></a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#" onclick="$('#helpText').toggle();$('#helpLink').toggle();">Help?</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!-- Landing page content will be populated here -->
    {% block content%}{% endblock %}
    {% block sidebar %}{% endblock %}
    {% block body %}{% endblock %}
    {% block extra_js %} {% endblock %}
  </body>
</html>
