{% extends 'workflow_grid.html' %}
{% set active_page = 'closure'%}

{% block title %}
  <title>Closure</title>
{% endblock %}

{% block form_title %}
  <h1 class="title_header">Closure</h1>
{% endblock %}

{% block form_start %}
  <form action="{{ url_for('new_stage', stage='closure', collab_id=collab_id) }}" method="post">
{% endblock %}

{% block column1 %}
  <div class="form-group">
    {{(form.box_link)}}
  </div>
{% endblock %}

{% block column2 %}
  <div class="form-group">

  </div>
{% endblock %}

{% block review %}
  {{(form.notes)}}
  {{(form.status)}}
  {{ form.csrf_token }}
  <input type="submit" class="submit" value="Submit Closure">
{% endblock %}
