{% extends 'workflow_grid.html' %}
{% set active_page = 'closure'%}

{% block title %}
  <title>Closure</title>
{% endblock %}

{% block form_title %}
  <h1 class="title_header">Closure</h1>
{% endblock %}

{% block form_start %}
  <form action="{{ url_for('new_stage', stage='closure', collab_id=collab_id) }}" method="post">
{% endblock %}

{% block column1 %}
  <div class="form-group">
    {{ form.box_link.label }}
    {{ form.box_link(class="form-control", type="url") }}
  </div>
{% endblock %}

{% block column2 %}
  <div class="form-group">

  </div>
{% endblock %}

{% block review %}
  {{ form.notes.label }}
  {{ form.notes(class="form-control", type="text") }}
  {{ form.status.label }}
  {{ form.status(class="form-control") }}
  {{ form.csrf_token }}
  <input type="submit" class="submit btn btn-primary btn-sm" value="Submit Closure">
{% endblock %}
