{% extends 'workflow_grid.html' %}
{% set active_page = 'contract'%}

{% block title %}
  <title>Contract</title>
{% endblock %}

{% block form_title %}
  <h1 class="title_header">Contract</h1>
{% endblock %}

{% block form_start %}
<form action="{{ url_for('new_stage', stage='contract', collab_id=collab_id) }}" method="post">
{% endblock %}

{% block column1 %}
  <div class="form-group">
    {{(form.funding_source)}}
    {{(form.np_consultant)}}
    {{(form.np_compensation)}}
  </div>
{% endblock %}

{% block column2 %}
  <div class="form-group">
    {{(form.contract_needed)}}
    {{(form.budget_needed)}}
  </div>
{% endblock %}

{% block review %}
  {{(form.contract_notes)}}
  {{(form.status)}}
  {{ form.csrf_token }}
  <input type="submit" class="submit" value="Submit Contract">
{% endblock %}
