{% extends 'workflow_grid.html' %}
  {% set active_page = 'details'%}

  {% block title %}
    <title>Details</title>
  {% endblock %}

  {% block form_title %}
    <h1 class="title_header">Details</h1>
  {% endblock %}

  {% block form_start %}
  <form action="{{ url_for('new_stage', stage='details', collab_id=collab_id) }}" method="post">
  {% endblock %}

  {% block column1 %}
    <div class="form-group">
      {{ (form.neuropace_contact) }}
      {{ (form.study_title) }}
      {{ (form.description) }}
    </div>
    <div class="form-group">
      {{ (form.share_type) }}
      {{ (form.sharing_method) }}
      {{ (form.sharing_language) }}
    </div>
    <div class="form-group">
      {{ (form.study_type) }}
      {{ (form.study_identifier) }}
    </div>
  {% endblock %}

  {% block column2 %}
    <div class="form-group">
      {{ (form.dataset_description) }}
      {{ (form.risk_level) }}
      {{ (form.single_multi_center) }}
    </div>
    <div class="form-group">
      {{ (form.accessories_language) }}
    </div>
    <div class="form-group">
      {{ (form.accessories_needed) }}
      {{ (form.phi_present) }}
    </div>
  {% endblock %}

  {% block review %}
    {{ (form.detail_notes) }}
    {{ (form.status) }}
    {{ form.csrf_token }}
    <input type="submit" class="submit" value="Submit Details">
  {% endblock %}
