{% extends 'workflow_grid.html' %}
  {% set active_page = 'details'%}

  {% block title %}
    <title>Details</title>
  {% endblock %}

  {% block form_title %}
    <h1 class="title_header">Details</h1>
  {% endblock %}

  {% block form_start %}
  <form action="{{ url_for('new_stage', stage='details', collab_id=collab_id) }}" method="post">
  {% endblock %}

  {% block column1 %}
    <div class="form-group">
      {{ form.neuropace_contact.label }}
      {{ form.neuropace_contact(class="form-control") }}
      {{ form.study_title.label }}
      {{ (form.study_title(class="form-control", type="text")) }}
      {{ form.description.label }}
      {{ (form.description(class="form-control", type="text")) }}
      {{ form.dataset_description.label }}
      {{ form.dataset_description(class="form-control", type="text") }}
    </div>
    <div class="form-group">
      {{ form.share_type.label }}
      {{ form.share_type(class="form-control") }}
      {{ form.sharing_method.label }}
      {{ form.sharing_method(class="form-control", type="text") }}
      {{ form.sharing_language.label }}
      {{ (form.sharing_language(class="form-control")) }}
    </div>
  {% endblock %}

  {% block column2 %}
    <div class="form-group">
      {{ form.study_type.label }}
      {{ form.study_type(class="form-control") }}
      {{ form.study_identifier.label }}
      {{ form.study_identifier(class="form-control", type="text") }}
    </div>
    <div class="form-group">
      {{ form.risk_level.label }}
      {{ form.risk_level(class="form-control") }}
      {{ form.single_multi_center.label }}
      {{ form.single_multi_center(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.accessories_language.label }}
      {{ form.accessories_language(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.accessories_needed.label }}
      {{ form.accessories_needed(class="form-check") }}
      <br>
      {{ form.phi_present.label }}
      {{ form.phi_present(class="form-check") }}
    </div>
  {% endblock %}

  {% block review %}
    {{ form.detail_notes.label }}
    {{ form.detail_notes(class="form-control", type="text") }}
    {{ form.status.label }}
    {{ form.status(class="form-control") }}
    {{ form.csrf_token }}
    <input type="submit" class="submit btn btn-primary btn-sm" value="Submit Details">
  {% endblock %}
