{% extends 'base_test.html' %}
{% block content %}
  <!--Flash Message  -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  {% endwith %}
  {% if error %}
   <p class=error><strong>Error:</strong> {{ error }}</p>
  {% endif %}

  <div id="index-container"class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>NeuroPace Collaboration Tracker</h1>
        <h2>Active Collaborations</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <a class="btn btn-primary btn-inverse btn-sm" href="/filter/all">Show Active & Archive <i class="fa fa-th-list fa-lg" aria-hidden="true"></i></a>
        <a class="btn btn-primary btn-sm" href="/filter/archived">Show Archive <i class="fa fa-folder fa-lg" aria-hidden="true"></i></a>
        <a class="btn btn-primary btn-sm" href="/filter/favorites">Show Favorites <i class="fa fa-star fa-lg" aria-hidden="true"></i></a>
        <button class="reset btn btn-primary btn-sm" type="button">Reset Filter / Sort <i class="fa fa-filter fa-lg" aria-hidden="true"></i></button>
      </div>
      <div class="col-sm-6">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <table id="collab_table" class="table table-striped table-bordered table-sm tablesorter">
          <thead>
            <tr>
              <th>Date Created</th>
              <th>Date Modified</th>
              <th>Collaboration ID</th>
              <th class="filter-select filter-exact" data-placeholder="Status">Status</th>
              <th>Study Identifier</th>
              <th class="filter-select filter-exact" data-placeholder="Contact">NeuroPace Contact</th>
              <th>Primary Investigator</th>
              <th class="filter-select filter-exact" data-placeholder="Category">Category</th>
              <th>Description</th>
              <th>IRB App. Date</th>
              <th>IRB Exp. Date</th>
              <th colspan="3" class="sorter-false">
                <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i> Edit<br />
                <i class="fa fa-folder-open-o fa-lg" aria-hidden="true"></i> Archive<br />
                <i class="fa fa-star-o fa-lg" aria-hidden="true"></i> Favorite
              </th>
            </tr>
          </thead>
          <tbody>
            {% for collab in collabs %}
              <tr>
                <td class="table-date-td">{{ collab.utc_2_local(collab.id.generation_time) }}</td>
                <td class="table-date-td">{{ collab.date_mod.strftime('%Y-%m-%d %I:%M:%S') }}</td>
                <td class="table-date-td">{{ collab.id }}</td>
                <td class="table-date-td">{{ collab.status.value }}</td>
                <td class="table-date-td">{{ collab.study_identifier}}</td>
                <td class="table-date-td">{{ collab.neuropace_contact.value}}</td>
                <!--This may need to change to institution_contact, but PI is currently more populated  -->
                <td class="table-date-td">{{ collab.pi}}</td>
                <td class="table-date-td">{{ collab.category.value }}</td>
                <td>{{ collab.description}}</td>
                <td class="table-date-td">{{ collab.irb_app_date }}</td>
                <td class="table-date-td">{{ collab.irb_exp_date }}</td>
                <td>
                  <a href="/new/init/{{ collab.id }}"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>
                </td>
                {% if collab.archive == False%}
                  <td><a href="/archive/{{ collab.id }}"><i class="fa fa-folder-open-o fa-lg" aria-hidden="true"></i></a></td>
                {% else %}
                  <td>
                    <a href="/archive/{{ collab.id }}"><i class="fa fa-folder-open fa-lg" aria-hidden="true"></i></a>
                  </td>
                {% endif %}
                {% if current_user in collab.favorite_list%}
                  <td>  <a href="/favorite/{{ collab.id }}"><i class="fa fa-star fa-lg" aria-hidden="true"></i></a></td>
                {% else %}
                  <td>
                    <a href="/favorite/{{ collab.id }}"><i class="fa fa-star-o fa-lg" aria-hidden="true"></i></a>
                  </td>
                {% endif %}

              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
