{% extends 'base_test.html' %}
{% block content %}
  <h1>Welcome to the Collaboration Station</h1>
  <h2>All Collaborations</h2>
  <table>
    <thead>
      <tr>
        <th>Entry Date</th>
        <th>Entered By</th>
        <th>Institution Contact</th>
        <th>Principal Investigator</th>
        <th colspan="2">Options</th>
      </tr>
    </thead>
    <tbody>
      {% for collab in collabs %}
        <tr>
          <td>{{ collab.entry_date }}</td>
          <td>{{ collab.entered_by }}</td>
          <td>{{ collab.institution_contact }}</td>
          <td>{{ collab.pi }}</td>
          <td><a href="/edit/{{ collab.id }}">Edit</a></td>
          <td><a href="">Destroy</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <h2>User Collaborations</h2>
  <table>
    <tr>
      <th>Entry Date</th>
      <th>Entered By</th>
      <th>Institution Contact</th>
      <th>Principal Investigator</th>
      <th colspan="2">Options</th>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
{% endblock %}
