{% extends 'workflow_grid.html' %}
  {% set active_page = 'init'%}

  {% block title %}
    <title>Initiation Page</title>
  {% endblock %}

  {% block form_title %}
    <h1 class="title_header">Initiation</h1>
  {% endblock %}

  {% block form_start %}
  <form action="{{ url_for('new_stage', stage='init', collab_id=collab_id) }}" method="post">
    {% endblock %}

  {% block column1 %}
  <div class="form-group">
    {{ form.entered_by.label }}
    {{ form.entered_by(class="form-control", type="text") }}
    {{ form.entry_date.label }}
    {{ form.entry_date(class="form-control", type="date") }}
    {{ form.date_needed.label }}
    {{ form.date_needed(class="form-control", type="text") }}
  </div>
  {% endblock %}

  {% block column2 %}
  <div class="form-group">
    {{ form.institution.label }}
    {{ (form.institution(class="form-control", type="text")) }}
    {{ form.date_needed.label }}
    {{ (form.institution_contact(class="form-control", type="date")) }}
    {{ form.pi.label }}
    {{ (form.pi(class="form-control", type="text")) }}
    {{ form.category.label }}
    {{ (form.category(class="form-control")) }}
    {{ form.reason.label }}
    {{ (form.reason(class="form-control")) }}
  </div>
  {% endblock %}

  {% block review %}
  <div class="form-group">
    {{ form.init_notes.label }}
    {{ form.init_notes(class="form-control", type="text") }}
    {{ form.status.label }}
    {{ form.status(class="form-control") }}
    {{ form.csrf_token }}
  </div>
    <input class="submit" type="submit" value="Submit Initiation">
  {% endblock %}
