{% extends 'workflow_grid.html' %}
{% set active_page = 'legal'%}

{% block title %}
  <title>Legal</title>
{% endblock %}

{% block form_title %}
  <h1 class="title_header">IRB Docs & Required Language</h1>
{% endblock %}

{% block form_start %}
<form action="{{ url_for('new_stage', stage='legal', collab_id=collab_id) }}" method="post">
{% endblock %}

{% block column1 %}
  <div class="form-group">
    {{ form.approval_date.label }}
    {{ form.approval_date(class="form-control", type="date") }}
    {{ form.approval_by.label }}
    {{ form.approval_by(class="form-control") }}
  </div>
{% endblock %}

{% block column2 %}
  <div class="form-group">
    {{ form.irb_app_date.label }}
    {{ form.irb_app_date(class="form-control", type="date") }}
    {{ form.irb_exp_date.label }}
    {{ form.irb_exp_date(class="form-control", type="date") }}
  </div>
{% endblock %}

{% block review %}
  {{ form.legal_notes.label }}
  {{ form.legal_notes(class="form-control", type="text") }}
  {{ form.status.label }}
  {{ form.status(class="form-control") }}
  {{ form.csrf_token }}
  <input type="submit" class="submit" value="Submit Legal">
{% endblock %}
