{% extends 'workflow.html' %}
{% set active_page = 'legal'%}
{% block content %}
  {% macro with_errors(field) %}
      <div class="form_field">{{ field.label }}:
      {% if field.errors %}
          {% set css_class = 'has_error ' + kwargs.pop('class', '') %}
          {{ field(class=css_class, **kwargs) }}
          <ul class="errors">{% for error in field.errors %}<li>{{ error|e }}</li>{% endfor %}</ul>
      {% else %}
          {{ field(**kwargs) }}
      {% endif %}
      </div>
  {% endmacro %}
  <head>
       <title>Legal Page</title>
  </head>
  <body>
       <h1>IRB Docs & Required Language</h1>
       <form action="" method="post">
           {{with_errors(form.approval_date)}}
           {{with_errors(form.approval_by)}}
           {{with_errors(form.legal_notes)}}
           {{with_errors(form.irb_app_date)}}
           {{with_errors(form.irb_exp_date)}}
           {{with_errors(form.status)}}
           {{ form.csrf_token }}
           <br>
           <br>
           <input type="submit" name="" value="Submit Legal">
       </form>
  </body>
{% endblock %}
