{% extends 'base_test.html' %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2>Search All: Collaborations</h2>
      <button class="reset btn btn-primary btn-sm" type="button">Reset Filter / Sort <i class="fa fa-filter" aria-hidden="true"></i></button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table id="search_table" class="table table-striped table-bordered tablesorter">
        <thead>

            <th>Field</th>
            <th>Value</th>
        </thead>
        <tbody>
          {% for collab in collabs%}
            {% for field in collab._fields_ordered%}
          <tr>
            <td>{{ field }}</td>
              {% if type(collab[field]) == "SelectionField object" %}
                <td>{{ collab[field].value }}</td>
              {% else%}
                <td>{{ collab[field] }}</td>
              {% endif %}
          </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
