{% extends 'base_test.html' %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Search All Collaborations</h2>
      <button class="reset btn btn-primary btn-sm" type="button">Reset Filter / Sort <i class="fa fa-filter" aria-hidden="true"></i></button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <table id="search_table" class="table table-striped table-bordered tablesorter">
        <thead>
            <th>Collaboration ID</th>
            <th>Field</th>
            <th>Value</th>
        </thead>
        <tbody>
          {% for collab in collabs %}
            {% for field in collab._fields %}
              {% if field not in ("archive", "date_mod", "favorite_list") %}
                <tr>
                  <td class="search-cell"><a href="/new/init/{{ collab.id }}">{{ collab.id }}</a></td>
                  <td class="search-cell">{{ labelize(collab._fields[field]) }}</td>
                  {% if not_string(collab[field]) %}
                    <td class="search-cell">{{ collab[field].value }}</td>
                  {% else %}
                    <td class="search-cell">{{ collab[field] }}</td>
                  {% endif %}
                </tr>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
