{% extends 'workflow.html' %}
{% set active_page = 'sharing'%}
{% block content %}
  <head>
       <title>Data Sharing</title>
  </head>
  <body>
       <h1>Data Sharing</h1>
       <form action="" method="post">
           {{(form.entry_date)}}
           <br>
           <br>
           {{(form.entered_by)}}
           <br>
           <br>
           {{(form.institution_contact)}}
           <br>
           <br>
           {{(form.pi)}}
           {{ form.csrf_token }}
           <br>
           <br>
           <input type="submit" name="" value="Submit Data Sharing">
       </form>
  </body>
{% endblock %}
