.table-date-td {
	width: 9%;
}
.table-irb-td {
	width: 12%;
}

table {
	padding-left: 15px;
	padding-right: 15px;
}

.container-fluid {
	padding-right: 30px;
	padding-left: 30px;
}

/*Report Table Styling*/
.report-split {
	width : 50%;
}
