.page_header {
  text-align: center;
}

.page_footer {

}

textarea {
  min-width: 95%;
  height: 23px;
}

select {
  min-width: 95%;
}

.verticalLine {
  border-left: thin solid grey;
}

.title_header {
  text-align: center;
}

.submit_footer {
  text-align: right;
}

/*.form-group {
  border-bottom: thin solid black;
}*/

.submit {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  float:right;
}

.changes-header {
  text-align: center;
}
