{% extends 'base_test.html' %}
    <!-- Sidebar for navigation -->
    {% block sidebar %}

    <nav class="navbar navbar-default sidebar" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        {% set side_bar = [
          (url_for('new_stage', stage='init', collab_id=collab_id), 'init', 'Initiation', 'glyphicon-play'),
          (url_for('new_stage', stage='details', collab_id=collab_id), 'details', 'Project Details', 'glyphicon-th-list'),
          (url_for('new_stage', stage='contract', collab_id=collab_id), 'contract', 'Contract & Budget', 'glyphicon-piggy-bank'),
          (url_for('new_stage', stage='legal', collab_id=collab_id), 'legal', 'IRB Docs & Required Language', 'glyphicon-lock'),
          (url_for('new_stage', stage='closure', collab_id=collab_id), 'closure', 'Closure', 'glyphicon-ok')
          ] -%}
        {% set active_page = active_page -%}
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {% for href, id, caption, glyphicon in side_bar %}
            <li{% if id == active_page %} class="disabled"{% endif %}><a href="{{ href }}">{{ caption|e }}<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon {{ glyphicon|e }}"></span></a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
    {% endblock %}

    {% block body %}
    <div class='row'>
      <div class='col-md-10'>
        <div id="content">
          <!--Flash Message Code  -->
          {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          {% endwith %}
          {% if error %}
           <p class=error><strong>Error:</strong> {{ error }}</p>
          {% endif %}
          <!--Flash Message Code  -->
          <!-- Form Render Here -->
          {% block form_content %}
          {% endblock %}
          <!-- Form Render Here -->
        </div>
      </div>
    </div> <!--row -->
    {% endblock %}
    {% block extra_js %} {% endblock %}
